<div class="container-fluid">
  <table class="table data hover">
    <tbody>
      {{#each-in groups as |name value|}}
        <tr>
          <td>{{pluralize-word value.length name omitCount=true}}</td>
          {{# if (eq value.length 1)}}
            <td>{{value}}</td>
          {{ else }}
            <td>
              <ul>
                {{#each value as |v|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul>
            </td>
          {{/if}}
        </tr>
      {{/each-in}}
    </tbody>
  </table>
</div>
