.user-avatar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    
    i {
	&.admin {
	    color: gold;
	    text-shadow: 1px 1px 1px red;
	}
	
	&.moderator {
	    color: $gray-lighter;
	    text-shadow: 1px 1px 1px black;
	}
	font-size: x-large;
	position: absolute;
	bottom: 0;
	right: 0;
    }

    &.small {
	img {
	    height: 2em;
	}
	i {
	    font-size: 0.8em;
	}
    }
}


