.user-avatar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 1;

    i {
	font-size: 10px !important;
	&.admin {
	    color: gold;
	    text-shadow: 1px 1px 1px red;
	}

	&.moderator {
	    color: $gray-lighter;
	    text-shadow: 1px 1px 1px black;
	}
	font-size: x-large;
	position: absolute;
	bottom: 0;
	right: 0;
    }

    img {
	height: 20px;
	margin-left: 2px;
	margin-right: 2px;
    }


    &.large {
	i {
	    font-size: 25px !important;
	}

	img {
	    height: 75px;
	}
    }


    img.proxy {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	transition: left 0.5s, opacity 0.5s;
	opacity: 0;

    }

    img.real {
	box-sizing: content-box;
	border: 2px solid silver;
	transition: border 0.5s;
	margin: -2px;
    }
}

.item:hover {
    img.proxy {
	left: -80%;
	transition: left 0.5s, opacity 0.5s;
	opacity: 1;
    }

    img.real {
	border-color: rgba(0, 0, 0, 0);
	transition: border 0.5s;
    }
}
