.user-avatar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 1;

    i {
	font-size: 10px !important;
	&.admin {
	    color: gold;
	    text-shadow: 1px 1px 1px red;
	}

	&.moderator {
	    color: $gray-lighter;
	    text-shadow: 1px 1px 1px black;
	}
	font-size: x-large;
	position: absolute;
	bottom: 0;
	right: 0;
    }

    img {
	height: 20px;
	margin-left: 2px;
	margin-right: 2px;
    }


    &.large {
	i {
	    font-size: 25px !important;
	}

	img {
	    height: 75px;
	}
    }

    img.real {
	border: inset $backslash-orange;
    }

}

