[Unit]
Description={{app_name}} HTTP uWSGI

[Service]
User={{user_name or app_name}}
KillSignal=SIGQUIT
ExecStart={{src_root}}/manage.py run_uwsgi {% if install_with_debug is defined and install_with_debug %}--catch-exceptions {% endif %}

[Install]
WantedBy=multi-user.target
