{{#tool-bar}}
  <div class="navbar-text">
    Suites / {{suite.name}} / Edit
  </div>

  <form class="navbar-form pull-right" role="search">
    <div class="input-group">
      {{input type="text" class="form-control" placeholder="Search..." value=search_term}}
    </div>
  </form>
{{/tool-bar}}

<div class="row">
  <div class="col-sm-12">
    <div class="item pad-medium">test_something.py</div>
    <div class="item pad-medium">test_something.py</div>
    <div class="item pad-medium">test_something.py</div>
    <div class="item pad-medium">test_something.py</div>
    <div class="item pad-medium">test_something.py</div>
    <div class="item pad-medium">test_something.py</div>
  </div>
</div>
