& {

    .test-index {
        color: darken($gray-lighter, 10%);
        width: 4em;
        display: inline-block;

        &:before {
            content: "#";
        }
    }

    .params {
        font-size: 75%;
    }

    .test-error-link {
        &:hover {
            text-decoration: underline;
        }
    }

    &:not(.compact) .params.inline {
        display: none;
    }

    &.compact {
        .row:not(:first-child) {
            display: none;
        }
    }
}
