& {

    .test-index {
        color: darken($gray-lighter, 10%);
        width: 4em;
        display: inline-block;

        &:before {
            content: "#";
        }
    }

    .params {
        margin-left: 7.5em;
        font-size: 75%;
    }
}
