<div class="info">
  {{moment-time unix=warning.timestamp}} - From <strong>{{warning.filename}}</strong>, line <strong>{{warning.lineno}}</strong>
</div>
<div class="message">{{warning.message}}</div>
