- name: untar to temporary location
  shell: cd /tmp/ && rm -rf {{webapp_archive_location}}.untarred && mkdir {{webapp_archive_location}}.untarred && cd {{webapp_archive_location}}.untarred && tar xzf {{webapp_archive_location}}
- name: rsync to src dir
  shell: rsync -avP --delete {{webapp_archive_location}}.untarred/ {{src_root}}/
- name: bootstrap
  shell: python {{src_root}}/manage.py bootstrap --app
- name: ensure private config
  shell: python {{src_root}}/manage.py ensure-secret {{deploy_root}}/conf.d/000-private.yml
- name: migrate db
  shell: cd {{src_root}} && python manage.py db upgrade
- name: fix permissions
  shell: chown -R {{user_name}}:{{group_name}} {{deploy_root}}
- name: ensure that nginx sites directory exists
  file: dest={{nginx_sites_dir}} state=directory
- name: ensure nginx configuration
  template: src=../templates/nginx_site_conf.conf.j2 dest={{nginx_sites_dir}}/{{app_name}}.conf
  register: nginx_conf
- shell: nginx -s reload
  when: nginx_conf.changed

