{{#each subjects as |subject index|}}
  {{#if index}}
    ,
  {{else}}
    <i class="fa fa-rocket"></i>
  {{/if}}
  <strong>{{#link-to 'subject' subject.name bubbles=false}}{{subject.name}}{{/link-to}}</strong><span class="badge badge-light border border-dark ml-1">{{subject.version}}</span>
{{/each}}

