{% extends "layout.html" %}

{% block body %}
<div class="text-center">
  <h1>Success!</h1>
  <img src="http://rack.1.mshcdn.com/media/ZgkyMDEzLzA4LzA1Lzk3LzMwcm9jay40ZDgyNC5naWYKcAl0aHVtYgk4NTB4NTkwPgplCWpwZw/f1b84963/086/30-rock.jpg">
  <div>Now all you have to do is write some code...</div><br/>
  <pre>Python {{ version }}</pre>
</div>

<footer class="footer">
  <div class="container text-center">
    <p class="text-muted">
      <a href="http://getweber.github.io/" target="_blank">
      <img src="http://getweber.github.io/img/hatched-from-weber-badge-light-small.png" style="height: 2em">
      </a>
    </p>
  </div>
</footer>

{% endblock %}
