{% extends "layout.html" %}

{% block head %}
{{super()}}

<style>
 .center {
   text-align: center;
 }
 .error {
    color: red;
 }
</style>

{% endblock %}

{% block body %}
{% if has_users %}
<p>This site already has users defined in it </p>
{% else %}
<p>Please enter the credentials for the first user:</p>
<form method="POST" action="/setup">
  {{ form.hidden_tag() }}
  {{ form.email.label }} {{ form.email(size=20) }} {% if 'email' in errors %} <span class="error">{{ errors['email'][0] }}{% endif %}</span><br/>
  {{ form.password.label }} {{ form.password(size=20) }} {% if 'password' in errors %} <span class="error">{{ errors['password'][0] }}{% endif %}</span><br/>
  {{ form.confirm_password.label }} {{ form.confirm_password(size=20) }} {% if 'confirm_password' in errors %} <span class="error">{{ errors['confirm_password'][0] }}{% endif %}</span><br/><br/>
  <input type="submit" value="Go">
</form>
{% endif %}
{% endblock %}
