<div class="btn-group" role="group">
  {{#each normalized_options as |option|}}
    <button type="button" class="btn border border-dark {{if (eq option.option value) 'btn-success' ''}}" {{action "choose" option.option}} disabled={{saving}}>
      {{title-case option.display}}
  </button>
  {{/each}}
</div>
