<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col">{{subject.name}}</div>
    </div>
    <div class="row">
      <div class="col text-muted">Last active: {{moment-time unix=subject.last_activity}}</div>
    </div>
  </div>
</div>
