.activity-timeline {
    border-left: 1px solid $gray-lighter;
    list-style-type: none;
    margin-left: 50px;
}

.activity-item .activity-icon {
    
    background: $gray-light;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    display: block;
    float: left;
    font: 15px Arial, sans-serif;
    height: 37px;
    left: -63px;
    margin-right: -63px;
    padding: 7px;
    position: relative;
    text-align: center;
    width: 37px;

    &.uninvestigated {
	background: $brand-danger;
    }

    &.investigated {
	background: $mild-green;
    }

    &.unarchived {
	background: $mild-blue;
    }
}

.activity-timeline > li {
  background: $gray-lighter;
  border: 1px solid silver;
  margin: 1em 0 3em 2em;
  max-width: 50em;
  position: relative;
}

.activity-heading, .activity-content {
    padding: 0.5em;
}

.activity-heading {
    background: white;
    font-weight: bold;
}

.new-comment {

    padding: 1em;
    padding-left: 3em;
    max-width: 50em;
    
    .avatar {
	position: absolute;
	top: 0;
	left: 0;

    }
}