//needs to be before bootstrap import to override the stripe
.failed-item
{
  background-color: #ff4648
}

table.table.table-striped tr.failed-item td {
  background-color: #ff4648;
}

.success-item
{
  background-color: #56ff71
}

table.table.table-striped tr.success-item td {
  background-color: #56ff71;
}

.sessions-query
{
  width: 100%
}

body {
  padding: 70px 20px;
}

.headerSortDown:after {
  content: " ▾";
  font-family: Arial, sans-serif;
}

.headerSortUp:after {
  content: " ▴";
  font-family: Arial, sans-serif;
}

.sessions-table th {
  cursor: pointer;
}

.tests-table th {
  cursor: pointer;
}

@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

