@import '_overrides.scss';
@import 'bootstrap';
@import 'colors.scss';

// Fonts

body {
    font-family: 'Lato', sans-serif;
}

pre, .mono {

    font-family: 'Fira Mono', monospace;
}


// Body padding
body {
    padding-top: 52px;
}

// elements
.text-height {
    height: 1em;
}

/*******************************************************************************
 * Includes
 *******************************************************************************/

@import 'proofing.scss';

@import 'fonts.scss';

@import 'base.scss';
@import 'tables.scss';
@import 'modules.scss';
@import 'elements.scss';
@import 'utils.scss';

@import 'dropdowns.scss';
@import 'toggles.scss';

@import 'items.scss';

@import 'sessions.scss';
@import 'users.scss';
@import 'comments.scss';
@import 'activity.scss';
@import 'loading-indicator.scss';

@import 'boxes.scss';

@import 'stats.scss';

@import 'navigation.scss';

@import 'components/tabs.scss';
@import 'components/boolean-toggle.scss';
@import 'components/artifact-counter.scss';
@import 'components/tests/test-name.scss';
@import 'components/elements/copyable-text.scss';


@import 'components/errors/traceback-frame.scss';
@import 'components/warnings/warnings.scss';

@import 'components/session-breakdown.scss';
@import 'components/status-label.scss';


@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'components/users/user-avatar.scss';
@import 'components/quick-jump.scss';
@import 'typeahead.scss';
