@import "ember-bootstrap/bootstrap";
@import 'colors.scss';
@import "pod-styles";

// Fonts

body {
    font-family: 'Lato', sans-serif;
}

pre, .mono {

    font-family: 'Fira Mono', monospace;
}

// elements
.text-height {
    height: 1em;
}

/*******************************************************************************
 * Includes
 *******************************************************************************/

@import 'proofing.scss';
@import 'item.scss';
@import 'fonts.scss';
@import 'font-awesome';

@import 'base.scss';
@import 'modules.scss';
@import 'elements.scss';
@import 'utils.scss';

@import 'toggles.scss';
@import 'users.scss';
@import 'boxes.scss';

@import 'navigation.scss';

@import 'components/tabs.scss';
@import 'components/boolean-toggle.scss';

@import 'components/warnings/warnings.scss';

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'components/users/user-avatar.scss';
@import 'typeahead.scss';

@import "ember-bootstrap/bootstrap";
