body {
    padding-top: 52px;

    //font-family: 'Open Sans', sans-serif;
}

.clickable {
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable.danger:hover {
    color: $brand-danger;
}
