body {
    padding-top: 52px;

    //font-family: 'Open Sans', sans-serif;
}

.clickable {
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable.danger:hover {
    color: $brand-danger;
}

.pagination-nav {
    background: $gray-lighter;
    padding: 0.5em;
    width: 100%;
    text-align: center;
}