body {
    padding-top: 52px;

    //font-family: 'Open Sans', sans-serif;
}

#navbar-brand-img {
    height: 100%;
    position: relative;
    top: -11%;
}

.clickable {
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable.danger:hover {
    color: $brand-danger;
}

.avatar {
    height: 4em;
}

.navbar-header .avatar {
    height: 3em;
    margin-top: 3px;
    margin-right: 2em;
}

.avatar.small {
    height: 1.5em;
}

.btn.mild-green {
    background: $mild-green;
}

.label-badge {
    border-radius: 1em;
}

span.warning {
    color: $brand-warning;
}