#navbar-brand-img {
    position: relative;
    top: -11%;

    height: 100%;
}

.ember-load-indicator {
    z-index: $zindex-navbar * 2;
}

.clickable
{
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}

.nodecoration, .nodecoration:hover {
    text-decoration: none;
    color: black;
}

span.danger
{
    color: $brand-danger;
}

.clickable.danger:hover
{
    color: $brand-danger;
}

.avatar
{
    height: 4em;
}

.navbar-header .avatar
{
    height: 3em;
    margin-top: 3px;
    margin-right: 2em;
}

.btn.mild-green
{
    background: $mild-green;
}

.btn.disabled, .btn.disabled:focus
{
	outline:0;
}

span.warning, i.warning
{
    color: $brand-warning;
}

.details-pane
{
    margin-top: .5em;
    margin-right: 1em;
    padding: 1em;

    border: 1px dashed $gray-lighter;

    border-sizing: box;
}

.footer
{
    margin-top: 5em;
}

.frame
{
    margin: .5em;
    padding: .5em;
    padding-left: 1em;

    background: $gray-lighter;
}

/* Margins shortcut */
$added-margin-amount: 1em;
$large-factor: 4;
$medium-factor: 2;

@mixin margin-modifiers($location) {

    margin-#{$location}: $added-margin-amount;
    &.margin-large {
	margin-#{$location}: $added-margin-amount * $large-factor;
    }

    &.margin-medium {
	margin-#{$location}: $added-margin-amount * $medium-factor;
    }
}


.add-margin-top { @include margin-modifiers(top); }
.add-margin-bottom { @include margin-modifiers(bottom); }
.add-margin-left { @include margin-modifiers(left); }
.add-margin-right { @include margin-modifiers(right); }

span {
    &.skip, &.warning {
	color: $brand-warning;
    }

    &.error {
	color: $brand-danger;
    }

    &.success {
	color: $brand-success;
    }
}

.faint
{
    color: $gray-light;
}

.fainter
{
    color: lighten($gray-light, 10%);
}

.ghost
{
    opacity: 0.1;
}

.list-group-item-warning a {
    color: $backslash-orange;
}
