@mixin colorize-box ($color) {
    border-color: $color;

    .info {
	background-color: $color;
	color: white;
    }

    &.expanded .info {
	color: $color;
	background-color: white;
    }
}


.box {

    border: 1px solid;
    margin: 1em;

    .info {
	padding: 0.5em;
    }

    .details {
    }

    .message {
	@extend .mono;
	overflow: auto;
	padding: 0.5em;
	white-space: pre;
    }

    &.warning {
	@include colorize-box($backslash-orange);
    }

    &.error {
	@include colorize-box($brand-danger);

    }
}
