@import '_legacy_colors';

$gray: $gray-800;
$gray-light: $gray-700;
$gray-lighter: $gray-500;
$gray-ultralight: $gray-100;
$mild-green: #DAF3DA;
$mild-red: #FFEEEE;
$mild-blue: CornflowerBlue;

$backslash-orange: #f0ad4e;
$backslash-orange-light: lighten($backslash-orange, 10%);
$backslash-orange-lighter: lighten($backslash-orange, 20%);

$console-bg: $gray-500;

/* Component-specific */
$sub-section-heading-color: darken($dark, 20%);

.bg-gray-lighter {
    background: $gray-lighter;
}

$brand-success-faint: lighten($brand-success, 40%);
$brand-danger-faint: lighten($brand-danger, 40%);
$brand-warning-faint: lighten($brand-warning, 35%);
