.comment-container {
    margin-bottom: 1em;
}

.comment-metadata {
    padding: 0.5em;
    color: $gray-light;
    border: 1px solid $gray-lighter;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    
}

.comment-body  {
    background: $gray-lighter;
    padding: 1em;
    border: 1px solid $gray-lighter;
    border-top: none;
    border-radius: 0 0 4px 4px;
	
}

$deleted-comment-color: #ccc;

.comment-deleted {
    color: $deleted-comment-color;
    padding: 0.5em;
    border: 1px solid $deleted-comment-color;
}
