.dropdown {
    li.wide {
	width: 15em;
	display: flex;
	align-items: flex-start;
	padding: 1em 1em 0 1em;
	white-space: nowrap;

	.x-toggle-container {
	    margin-left: 1em;
	}

    }

    li.menu-toggle {
	@extend .pad-medium;
	display: flex;
	width: 20em;

	.menu-toggle-label {
	    @extend .overflow-ellipsis;
	    flex: 0 1 10em;
	    margin-left: 2em;
	}

	.x-toggle-container {
	    margin-right: 1em;
	    margin-left: auto;
	}
    }
}