
/* Test details: Command-line */
.console {
    @extend .mono;
    background-color: $console-bg;
    border: 2px solid $gray-lighter;
    color: $gray-lighter;
    overflow: auto;
    padding: 1em;
    white-space: nowrap;

    &:before {
        color: $gray-light;
        content: "$";
        padding-right: 0.5em;
    }
}

.copy-btn {
    @extend .btn;
    cursor: pointer;
    padding: 1px 4px 1px 4px;
    background: white;
    color: $gray-light;
    font-size: x-small;

    &:hover {
	color: black;
        background: $gray-lighter;
        border: 1px solid $gray-light;
    }

    &:focus, &:active {
	outline: 0;
    }

    .success {
	bacground-color: $mild-green;
    }
}
