.copy-btn {
    @extend .btn;
    @extend .btn-sm;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 1.0;
        background: $gray-lighter;
        border: 1px solid $gray-light;
    }

    &:focus, &:active {
	    outline: 0;
    }

    .success {
	    bacground-color: $mild-green;
    }
}

.badge-split {
    span {
        background: gray;
        color: white;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;

        &:last-child {
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
            margin-right: 0;
        }

        &:first-child {
            background: silver;
            color: gray;
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
            margin-right: 0;
        }
    }
}

.variable-table {
    td {
        @extend .p-1;
    }
    td:first-child {
        @extend .text-muted;
        background: $gray-100;
    }
    td:last-child {
        font-family: monospace;
    }
}

