
/* Test details: Command-line */
.console {
    @extend .mono;
    background-color: $console-bg;
    border: 2px solid $gray-lighter;
    color: $gray-lighter;
    overflow: auto;
    padding: 1em;
    white-space: nowrap;

    &:before {
        color: $gray-light;
        content: "$";
        padding-right: 0.5em;
    }
}

.skip-reason {

    &:before {
	content: "Skip reason: ";
	font-family: sans-serif;
	opacity: 0.5;
	margin-right: 1em;
    }
    background-color: lighten($state-warning-bg, 1%);
    font-family: monospace;
    white-space: pre;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Separators */
.sub-section-heading
{
    height: 2px;
    background-color: $sub-section-heading-color;
    background: linear-gradient(135deg, $sub-section-heading-color 0%,rgba(0, 0, 0, 0) 100%);
    color: $sub-section-heading-color;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom:2em;

    span
    {
      position: relative;
      top: -0.5em;
      left: 2em;
      background-color: white;
      padding-left: 1em;
      padding-right: 1em;
    }
}

.inline-block {
    display: inline-block;
}

.copy-btn {
    @extend .btn;
    cursor: pointer;
    padding: 1px 4px 1px 4px;

    &:hover {
	background: $gray-lighter;
    }

    &:focus, &:active {
	outline: 0;
    }

    .success {
	bacground-color: $mild-green;
    }
}

.label-fine {
    background: $gray-lighter;
    border-radius: 3px;
    color: black;
    font-size: x-small;
    margin: 2px;
    padding: 3px;
}
