@mixin item-box-mixin($color) {
    box-shadow: inset 10px 0 0 0 $color;

    &:hover {
        background: #fafafa;
    }
}


.item {
    @extend .p-2;
    @extend .pl-3;
    @extend .mt-2;

    overflow: hidden;
    border: 1px solid #eee;
    border-left: none;

    @include item-box-mixin(gray);

    &.success {
        @include item-box-mixin($brand-success);
    }
    &.error, &.failure {
        @include item-box-mixin($brand-danger);
    }
    &.skipped {
        @include item-box-mixin($brand-warning);
    }
}
