.item {
    @extend .p-2;
    @extend .mt-2;

    border: 1px solid silver;
    border-left: 5px solid;

    &.success {
        border-color: $brand-success;
    }
    &.error, &.failure {
        border-color: $brand-danger;
    }
}
