a.item, a.item:hover {
    color: black;
    text-decoration: none !important;
}


@mixin reveal-opacity-later {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.2s;
}

@mixin slide-flex {
    transition: flex 0.2s;
}

@mixin ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.item {

    display: flex;
    border: 1px solid $gray-lighter;
    margin: 3px;
    overflow: hidden;


    .left-badge {
	align-items: center;
	background: silver;
	border-radius: 2px 0 0 2px;
	display: flex;
	flex: 0 0 10px;
	@include slide-flex;
	overflow: hidden;

	.summary {
	    display: inline-block;
	    font-size: x-small;
	    color: white;
	    opacity: 0;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    padding-right: 0.5em;
	    white-space: nowrap;

	}

    }

    &.failed,&.session.success,&.skipped,&.running,&.abandoned,&.finished {


	.left-badge:hover {
	    flex: 0 0 130px;
	    padding-left: 1em;
	    @include slide-flex;

	    .summary {
		@include reveal-opacity-later;
	    }
	}

	&.test.failed .left-badge:hover,&.test.skipped .left-badge:hover {
	    flex: 0 0 20em;
	    font-family: monospace;
	}
    }

    &.session.interrupted {

	.left-badge {
	    background: repeating-linear-gradient(0deg, $brand-danger, lighten($brand-danger, 10%));
	    background: repeating-linear-gradient(
				45deg,
				$brand-danger,
				$brand-danger 10px,
				lighten($brand-danger, 10%) 10px,
				lighten($brand-danger, 10%) 20px);
	}
    }


    &.failed .left-badge {
	background: $brand-danger;
    }

    &.success .left-badge {
	background: $brand-success;
    }

    &.skipped .left-badge {
	background: $brand-warning;
    }

    &.running .left-badge {
	background: $gray-light;
    }

    &.pdb .left-badge {
	position: relative;
	background: none;
	animation-name: pdb-pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
    }

    .right-label {
	visibility: hidden;

	&.visible {
	    visibility: visible;
	}

	align-items: center;
	display: flex;
	flex-direction: row;
	flex: 0 0 2em;
	justify-content: flex-start;
	padding-left: 0.5em;
	@include ellipsis-overflow;
	@include slide-flex;

	.summary {
	    padding-left: 1em;
	    opacity: 0;
	}

	&:hover {
	    flex: 0 0 10em;
	    @include slide-flex;
	}

	&.warnings {
	    background-color: $brand-warning;
	    color: white;

	    &:hover .summary {
		@include reveal-opacity-later;
	    }
	}
    }

    .details {
	padding: 1em;
	display: flex;
	overflow: hidden;
	flex: 1;

	.user-info {
	    color: $gray-light;
	    flex: 0 0 15%;
	    width: 300px;
	    @include ellipsis-overflow;
	}

	.is-running {
	    flex: 0 0;
	    margin-right: 1em;
	}

	.test-name {
	    flex: 1;
	    @include ellipsis-overflow;
	}

	.times {
	    flex: 0;
	    @extend .hidden-xs;
	    @extend .hidden-sm;
	    color: $gray-light;
	    flex: 0 0 30%;
	    white-space: nowrap;
	}

	.duration {
	    @extend .hidden-xs;
	    @extend .hidden-sm;
	    @extend .overflow-ellipsis;
	    color: $gray-light;
	    display: flex;
	    flex: 0 0 8em;
	    justify-content: flex-end;
	    font-size: xx-small;
	    align-items: center;
	}

	.subject-info {
	    flex: 0 0 30%;

	    .subject-version {
		background: $gray-lighter;
		border-radius: 3px;
		font-size: x-small;
		margin: 2px;
		padding: 3px;
	    }
	}


    }

    &:hover {
	background-color: $gray-lighter;
    }

    &.investigated {
	opacity: .5;
    }

    &.abandoned {
	.details {
	    opacity: 0.2;
	}
	-webkit-filter: grayscale(80%);
        filter: grayscale(80%);
    }


}

@keyframes pdb-pulse {
  from { background-color: $brand-danger}
  50% { background-color: $brand-warning}
  to { background-color: $brand-danger}
}

.item.subject {
    @extend .pad-large;
    .name {
	@extend .overflow-ellipsis;
	flex: 0 0 50%;
	font-size: x-large;
    }
}

.item.user {
    @extend .pad-large;

    .name {
	@extend .pad-small;
    }

}