.item {
    @extend .p-2;
    @extend .mt-2;

    border: 1px solid #eee;
    border-left: 7px solid;


    &.success {
        border-left-color: $brand-success;
    }
    &.error, &.failure {
        border-left-color: $brand-danger;
    }
    &.skipped {
        border-left-color: $brand-warning;
    }
}
