a.item, a.item:hover {
    color: black;
    text-decoration: none !important;
}


@mixin reveal-opacity-later {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.2s;
}

@mixin slide-flex {
    transition: flex 0.2s, background-color 0.2s;
}

@mixin ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$left-badge-open-width: 250px;
$left-badge-close-width: 10px;

.item {

    display: flex;
    border: 1px solid $gray-lighter;
    margin: 3px;
    overflow: hidden;

    .left-badge {

        .open-hint {
            color: white;
            display: none;
            opacity: 0.5;
            font-size: xx-small;
            margin-left: 2px;
        }

	align-items: center;
	background: silver;
	border-radius: 2px 0 0 2px;
	display: flex;
	flex: 0 0 $left-badge-close-width;
	@include slide-flex;
	overflow: hidden;

	.summary {
	    display: inline-block;
	    font-size: x-small;
	    color: white;
	    opacity: 0;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    padding-right: 0.5em;
	    white-space: nowrap;

	}

    }

    &:hover .left-badge {
        .open-hint {
            display: inline-block;
        }
        animation-name: openme-hint;
        animation-duration: 0.5s;
        animation-delay: 3s;
        animation-timing-function: ease-in-out;

    }

    &.failed,&.session.success,&.skipped,&.running,&.abandoned,&.finished,&.session.interrupted {


	.left-badge:hover, .left-badge.expanded {
	    flex: 0 0 $left-badge-open-width;
	    padding-left: 1em;
	    @include slide-flex;

            background-color: $gray-lighter;

            .open-hint {
                display: none;
            }

	    .summary {
		@include reveal-opacity-later;
	    }
	}

	&.test.failed .left-badge:hover,&.test.skipped .left-badge:hover {
	    flex: 0 0 20em;
	    font-family: monospace;
	}
    }

    &.session.interrupted {

	.left-badge {
	    background: repeating-linear-gradient(0deg, $brand-danger, lighten($brand-danger, 10%));
	    background: repeating-linear-gradient(
				45deg,
				lighten($brand-danger, 30%),
				lighten($brand-danger, 30%) 10px,
				lighten($brand-danger, 35%) 10px,
				lighten($brand-danger, 35%) 20px);
	}
    }


    &.failed .left-badge {
	background: $brand-danger;
    }

    &.success .left-badge {
	background: $brand-success;
    }

    &.skipped .left-badge {
	background: $brand-warning;
    }

    &.running .left-badge {
	background: $gray-light;
    }

    &.pdb .left-badge {
	position: relative;
	background: none;
	animation-name: pdb-pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
    }

    &.running.unsuccessful .left-badge {
	position: relative;
	background: none;
	animation-name: running-unsuccessful-pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
    }

   .left-badge:hover, .left-badge.expanded {
       animation: none;
   }


   .right-label {
	visibility: hidden;

	&.visible {
	    visibility: visible;
	}

	align-items: center;
	display: flex;
	flex-direction: row;
	flex: 0 0 2em;
	justify-content: flex-start;
	padding-left: 0.5em;
	@include ellipsis-overflow;
	@include slide-flex;

	.summary {
	    padding-left: 1em;
	    opacity: 0;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	&.expand-on-hover:hover, &.expand-on-hover.expanded {
	    flex: 0 0 10em;

	    &.comments {
		flex: 0 0 20em;
	    }
	    @include slide-flex;

	    .summary {
		@include reveal-opacity-later;
	    }
	}

	&.warnings {
	    background-color: $brand-warning;
	    color: white;
	}
    } // end of .right-label

    .main-info {
        align-items: center;
        display: flex;
        flex: 4 1;
        padding: 1em;

        .user-info {
	    color: $gray-light;
	    flex: 0 0 15%;
	    width: 300px;
	    @include ellipsis-overflow;
	}
        .is-running {
	    flex: 0 0;
	    margin-right: 1em;
	}

    }

    .subject-info {
        align-items: center;
        display: flex;
        flex: 2 1;
    }

    .additional-info {
        display: flex;
        flex: 1 1;
        align-items: center;

        @extend .hidden-xs;
	@extend .hidden-sm;
        .times {
	    flex: 0;
	    @extend .hidden-xs;
	    @extend .hidden-sm;
	    color: $gray-light;
	    flex: 0 0 30%;
	    white-space: nowrap;
	}

        .duration {
	    color: $gray-light;
	    display: flex;
	    flex: 0 0 8em;
	    justify-content: flex-end;
	    font-size: xx-small;
	    align-items: center;
	}


    }

    &:hover {
	background-color: $gray-lighter;
	&.success {
	    background-color: $brand-success-faint;
	}
	&.failed {
	    background-color: $brand-danger-faint;
	}
	&.skipped {
	    background-color: $brand-warning-faint;
	}
    }

    &.investigated {
	opacity: .5;
    }

    &.abandoned {
	.details {
	    opacity: 0.4;
	}
	-webkit-filter: grayscale(80%);
        filter: grayscale(80%);
    }


}

@keyframes pdb-pulse {
  from { background-color: $brand-danger}
  50% { background-color: $brand-warning}
  to { background-color: $brand-danger}
}

@keyframes running-unsuccessful-pulse {
  from { background-color: $brand-danger}
  50% { background-color: $gray-light}
  to { background-color: $brand-danger}
}


.item.subject {
    @extend .pad-large;
    .name {
	@extend .overflow-ellipsis;
	flex: 0 0 50%;
	font-size: x-large;
    }
}

.item.user {
    @extend .pad-large;

    .name {
	@extend .pad-small;
        min-width: 30em;
    }

    .last-active {
        min-width: 10em;
    }

}

@keyframes openme-hint {

    from {flex: 0 0 $left-badge-close-width;}
    50% {flex: 0 0 30px;}
    to {flex: 0 0 $left-badge-close-width;}
}
