$loading-gradient-bg: rgba(0, 0, 0, 0);
$loading-gradient-fg: #fcaa2f;

.loading-indicator {
    width: 200%;
    height: 10px;
    position: absolute;
    bottom: 0;

    background: $loading-gradient-bg; /* Old browsers */
    background: -moz-linear-gradient(left,  $loading-gradient-bg 0%, $loading-gradient-fg 50%, $loading-gradient-bg 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$loading-gradient-bg), color-stop(50%,$loading-gradient-fg), color-stop(100%,$loading-gradient-bg)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $loading-gradient-bg 0%,$loading-gradient-fg 50%,$loading-gradient-bg 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $loading-gradient-bg 0%,$loading-gradient-fg 50%,$loading-gradient-bg 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $loading-gradient-bg 0%,$loading-gradient-fg 50%,$loading-gradient-bg 100%); /* IE10+ */
    background: linear-gradient(to right,  $loading-gradient-bg 0%,$loading-gradient-fg 50%,$loading-gradient-bg 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$loading-gradient-bg', endColorstr='$loading-gradient-bg',GradientType=1 ); /* IE6-9 */
    
    animation: line-loader-animation linear 1s;
    animation-iteration-count: infinite;
}

@keyframes line-loader-animation{
  0% {
    transform:  translate(-100%,0px)  ;
  }
  100% {
    transform:  translate(100%,0px)  ;
  }
}
