.proofing-example {
    h3 {
	padding: 1em;
    }
    p {
	margin: 1em;
	padding: 5px;
	border: 1px dashed silver;
    }

    p.config {
	color: silver;
	padding: 1em 5em 1em 5em;
	border: 1px dashed gray;
    }

    padding-bottom: 1em;
}