.proofing-example {
    h3 {
	padding: 1em;
    }
    p {
	margin: 1em;
	padding: 5px;
	border: 1px dashed silver;
    }

    p.config {
	color: silver;
	border: 1px dashed gray;

	input {
	    margin-left: 2em;
	}

	label {
	    margin-left: 1em;
	}
    }

    padding-bottom: 1em;
}