.query-result {
    padding: 5px;

    &.session {
	padding: 1em;
    }

    &:hover {
	background-color: $gray-lighter;
    }
}

.query-result.investigated
{
    opacity: .5;
}

.query-result .user-avatar {
    top: -3px;
}
