.sessions-table td.breakdown {
    width: 5em;
}

.sessions-table tr td {
    .time-detail {
	display: none;
    }
    
    .time-overview {
	display: inline-block;
    }
}

.sessions-table tr:hover td {
    .time-detail {
	display: inline-block;
    }

    .time-overview {
	display: none;
    }
}