.session-row:hover, .test-row:hover {

    background-color: $gray-lighter;
}

.session-row, .test-row {
    padding: 1em;
    cursor: pointer;
}

.session-row.investigated {
    opacity: 0.5;
}

.delegate-info{
    color: silver;
    position: absolute;
    top: 0;
    left: 0;
}

.abandoned {
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
    
}
