.total-errors {
  color: #ff5956;
}

.no-errors {
  color: #3d7d36;
}
.exception-type {
    color: rgb(70, 82, 98);
    border: 0px none rgb(70, 82, 98);
    outline: rgb(70, 82, 98) none 0px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
  }

.exception-description {
  color: rgb(71, 71, 71);
  border: 0px none rgb(71, 71, 71);
  border-radius: 4px 4px 4px 4px;
  margin: 0px 0px 10px;
  outline: rgb(71, 71, 71) none 0px;
  padding: 10px;
  background: rgb(248, 248, 248) none repeat scroll 0% 0% / auto padding-box border-box;
}

.traceback-line-headline {
  color: rgb(70, 82, 98);
  text-align: left;
}

.traceback-line-code {
  color: rgba(0, 0, 0, 0.74902);
  cursor: pointer;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background: rgb(222, 227, 233) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgba(0, 0, 0, 0.74902);
  padding: 5px 5px 5px 10px;
  font-family: courier, monospace;
}

pre span{
  background: rgb(213, 218, 224) none repeat scroll 0% 0% / auto padding-box border-box;
}


.error-description {
  border-top: 1px dotted rgb(71, 71, 71);
}

.skip-reason {
    display: inline-block;
    max-width: 30em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $brand-warning;
    border-radius: 3px;
    padding: 0.2em;
    font-size: small;
    color: white;
}