.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vertical-center-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vw-50 {
    width: 50vw;
}

.small {
    font-size: x-small;
}

.pre {
    white-space: pre;
    overflow: auto;
}

.visibility-hidden {
    visibility: hidden;
}

.overflow-scroll {
    overflow: scroll;
    &::-webkit-scrollbar { width: 0 !important };
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
