.pad-small {
    padding: 3px;
}

.pad-medium {
    padding: 0.5em;
}


.pad-large {
    padding: 1em;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vertical-center-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vw-50 {
    width: 50vw;
}