.pad-small {
    padding: 3px;
}

.pad-medium {
    padding: 0.5em;
}

.pad-large {
    padding: 1em;
}

$margin-small: 0.5em;
$margin-medium: 1em;
$margin-large: 2em;

.margin-bottom-small {
    margin-bottom: $margin-small;
}

.margin-bottom-medium {
    margin-bottom: $margin-medium;
}

.margin-bottom-large {
    margin-bottom: $margin-medium;
}

.margin-left-small {
    margin-left: $margin-small;
}

.margin-left-medium {
    margin-left: $margin-medium;
}

.margin-left-large {
    margin-left: $margin-medium;;
}


.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vertical-center-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vw-50 {
    width: 50vw;
}

.small {
    font-size: x-small;
}

.pre {
    white-space: pre;
    overflow: auto;
}