<div class="container text-center" style="margin-top: 100px">
  <div style="color: silver">
    <p>
      <i class="fa fa-refresh fa-spin fa-5x" style="color: silver"></i>
    </p>
    <p>
      We're loading stuff. Please wait...
    </p>
  </div>


</div>
