<div class="alert alert-danger text-center">
  {{#if error.syntax_error}}
    Search syntax error
  {{else}}
    {{#if (eq error.status 400) }}
      <p>
        <strong>Error:</strong> {{error.title}}
      </p>
    {{else}}
      <p><strong>Unexpected Error:</strong></p>
      <p>
        <pre>{{error_string}}</pre>
      </p>
    {{/if}}
  {{/if}}
</div>
