
{{#tool-bar}}
  {{filter-control filter_config=filter_config filter_action="filter"}}
{{/tool-bar}}


<div class="container">

  {{#each model as |session|}}
    {{ session-row session=session action="gotoSession"}}
  {{/each}}
</div>

{{pagination-nav page=page pages_total=pages_total next_page="next_page" prev_page="prev_page" goto_page="goto_page"}}
