
<div class="container-fluid">
  <table class="table metadata-table hover">
    <tbody>
      {{#each-in all_metadata as |name value|}}
        {{#if (not (eq name "slash"))}}
          <tr>
            <td>{{capitalize (undasherize name)}}</td>
            <td>{{elements/copyable-text value=value}}</td>
          </tr>
        {{/if}}
      {{/each-in}}
    </tbody>
  </table>
</div>


{{#if metadata.slash.commandline}}
  <div class="metadata-item">
    <div class="title">Command-line</div>
    <div class="content">
      <div class="console">
        {{metadata.slash.commandline}}
      </div>
    </div>
  </div>
{{/if}}
