<div class="container">
  <h1>{{users/user-avatar user=model large=true}} {{model.display_name}} {{# if (not (eq model.display_name model.email))}}<small>({{model.email}})</small>{{/if}}</h1>

  <ul class="nav nav-tabs">
    {{#nav-link to="user.sessions"}}Sessions{{/nav-link}}
    {{# with session.data.authenticated.user_info as |user|}}
      {{#if (or user.can.admin (eq user.email model.email)) }}
        {{#nav-link to="user.preferences"}}Preferences{{/nav-link}}
      {{/if}}
    {{/with}}
  </ul>
</div>
<div class="container">
{{outlet}}
</div>
