<div class="container">
  <h1><img class="img-circle" src="{{gravatar-url model.email}}?s=40"> {{model.display_name}}</h1>

  <ul class="nav nav-tabs">
    {{#with controllers.application.currentPath as |p|}}
      {{#nav-link to="user.sessions" current_path=p}}Sessions{{/nav-link}}
      {{#if session.secure.user_info.can.admin}}
        {{#nav-link to="user.admin" current_path=p}}Admin{{/nav-link}}
      {{/if}}
    {{/with}}
  </ul>
</div>
{{outlet}}
