{{#tool-bar}}
{{/tool-bar}}

<div class="container">

  {{#each subjects as |subject|}}
    {{#link-to 'subject' subject.name classNames="item subject"}}
      <div class="name" title="{{subject.name}}">
        {{subject.name}}
      </div>
    {{/link-to}}
  {{/each}}

  {{infinity-loader infinityModel=subjects loadingText="Loading..." loadedText=""}}
</div>

