{{#tool-bar}}
{{/tool-bar}}

<div class="container">

  {{#each subjects as |subject|}}
    <div class="container-fluid clickable item" {{action "goto_subject" subject}}>
      <i class="fa fa-rocket"></i> {{subject.name}}
    </div>
  {{/each}}
</div>

{{pagination-nav page=page pages_total=subjects.meta.pages_total num_visible=subjects.meta.page_size next_page="next_page" prev_page="prev_page" goto_page="goto_page"}}
