{{#tool-bar}}
  <div class="navbar-text">
    {{capitalize (pluralize (display-name "subject"))}}
  </div>
{{/tool-bar}}


{{query-results results=subjects page_size=(mut page_size) page=(mut page)}}
