web:
  image: {{tag}}
  links:
    - db
  {%- if port_bindings %}
  ports:
    {%- for src, dest in port_bindings.items() %}
    - "{{src}}:{{dest}}"
    {%- endfor %}
  {%- endif %}
  {%- if persistent_dir %}
  volumes:
    - "{{persistent_dir}}:/persistent"
  {%- endif %}
db:
  image: postgres
  {%- if persistent_dir %}
  volumes:
    - "{{persistent_dir}}/db:/var/lib/postgresql/data"
  {%- endif %}