<div class="col-md-8">
  {{artifact-counter warnings=test.num_warnings fixed_width=true}}
  <div class="status-label {{status}}">{{status}}</div>
  {{test.info.name}}
</div>
<div class="col-md-4">
</div>
