.warning-box {
    
    border: 1px solid $backslash-orange;

    .warning-info {
	background: $backslash-orange;
	padding: 0.5em;
	color: white;
    }

    .warning-message {
	padding: 0.5em;
	font-family: monospace;
    }
}

.warnings-counter {
    display: inline-block;
    visibility: hidden;
    color: $brand-warning;

    &.warning {
	visibility: visible;
    }
    min-width: 3em;
}