& {
    border: 1px dotted #aaa;
    margin: 0.5em;

    .btn-expand {
        visibility: hidden;
    }

    &:hover .btn-expand {
        visibility: visible;
    }

    .frame-info {
        background: $gray-lighter;

        font-size: x-small;
        padding: 0.5em;
    }

    &.test-code .frame-info {
        box-shadow: inset 0px 0px 10px $brand-danger;
    }
}


.frame-code {
    @extend .mono;
    font-size: x-small;
    border: 1px solid $gray-lighter;
    margin: 0.5em;

    .line {
        padding: 0.3em;
        &:first-child {
            padding-top: 0.5em;
        }
        &:last-child {
            padding-bottom: 0.5em;
        }
        white-space: pre-wrap;

        &.around {
            background-color: lighten($gray-lighter, 4%);
            color: silver;
            display: block;
        }

        &.main {
            background-color: $gray-lighter;
            font-weight: bold;
        }

        .lineno {
            color: darken($gray-lighter, 20%);
            min-width: 3em;
            display: inline-block;
        }
    }


}


.traceback-frame-vars {

    @extend .row;
    margin: 0.5em;
    border: 1px solid $gray-lighter;
    color: $gray-light;
    font-size: x-small;

    .variable {
        border-top: 1px dotted #bbb;
        display: flex;
        padding-left: 1em;
        .name , .attribute{
            @extend .mono;
            @extend .pad-medium;
            flex: 0 0 25em;

        }
        .attribute {
            padding-left: 3em !important;
        }
        .value {
            background: lighten($gray-lighter, 20%);
            @extend .pad-medium;
            @extend .pre;
            @extend .mono;
            flex: 1;
        }
    }
}
