& {
    border: 1px dotted #aaa;

    .btn-expand {
        visibility: hidden;
    }

    &:hover .btn-expand {
        visibility: visible;
    }

    .frame-info {
        background: $gray-100;
        font-size: x-small;
    }

    &.test-code .frame-info {
        background: rgb(255, 214, 214);
    }


    .frame-code {
        @extend .mono;
        font-size: x-small;
        border: 1px solid $gray-lighter;

        .line {
            white-space: pre-wrap;

            &.around {
                background-color: $gray-100;
                color: gray;
                display: block;
            }

            &.main {
                background-color: #aaa;
                color: white;
                font-weight: bold;
            }

            .lineno {
                color: darken($gray-lighter, 20%);
                min-width: 3em;
                display: inline-block;
            }
        }

    }
}
