& {
    .copy-btn {
        visibility: hidden;
    }
    @extend .m-3;
    thead {
        background: $gray-100;
    }
    th, td {
        @extend .px-3;
        @extend .py-2;
        &.multiline {
            white-space: pre;
        }
    }
    tbody tr  {
        &:hover .copy-btn {
            visibility: visible;
        }
        td:nth-child(1) {
            @extend .text-nowrap;
            background: $gray-100;
        }
        td:nth-child(2) {
            @extend .text-monospace;
            width: 100%;
        }
    }
}
