<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <p class="navbar-text">
      {{title}}
    </p>
  </div>
</nav>
