ul.params {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: silver;
    &:before {
	content: '(';
    }
    &:after {
	content: ')';
    }
    li {
	display: inline-block;

	&:after {
	    content: ',';
	}
	

	&:last-of-type:after {
	    content:'';
	}

	code {
	    background: white;
	    border-bottom: 1px dashed silver;
	    color: silver;
	}
    }
}