<div class="col-md-2">
  <i class="fa {{icon_classes}}"></i>
  {{test.info.name}}
</div>
<div class="col-md-3">
  {{start-end-times start_time=test.start_time end_time=test.end_time is_running=test.is_running}}
</div>
