<i class="fa fa-question-circle fa-2x faint clickable" {{action (toggle "show" this)}}></i>

{{#if show}}

  {{#modal-dialog
     close=(toggle "show" this)
     targetAttachment="center"
     translucentOverlay=true}}
    <div class="container">
      <h3>Search Syntax Help</h3>
      <div class="container">
	{{yield}}
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
