.traceback-frame {
    border: 1px solid $gray-light;
    margin: 0.5em;

    .btn-expand {
	visibility: hidden;
    }

    &:hover .btn-expand {
	visibility: visible;
    }
}

.frame-info {
    color: $gray-light;
    font-size: small;
    padding: 0.5em;
}

.frame-code {
    @extend .mono;
    font-weight: bold;
    padding: 0.5em;
    background-color: $gray-lighter;
    white-space: pre-wrap;

    .lineno {
        color: $gray-light;
        min-width: 3em;
    }
}

.traceback-frame.test-code .frame-code {

    background-color: $mild-red;
}

.traceback-frame-vars {

    @extend .row;
    margin: 0.5em;
    border: 1px solid $gray-lighter;
    color: $gray-light;

    .variable {
	@extend .col-sm-12;
	@extend .row;

	.name {
	    @extend .mono;
	    @extend .col-sm-2;
	    @extend .pad-medium;
	}
	.value {
	    background: lighten($gray-lighter, 20%);
	    @extend .pad-medium;
	    @extend .col-sm-10;
	    @extend .pre;
	    @extend .mono;
	}
    }
}
