{{#bs-dropdown as |dd|}}
  {{#dd.toggle}}{{title}} <span class="caret"></span>{{/dd.toggle}}
  {{#dd.menu as |menu|}}
    {{#if options}}
      {{#each options as |opt|}}
	    <li class="pad-medium clickable">
          {{#menu.item action=(action "set_value" opt)}}
	        <a class="dropdown-item" {{action "set_value" opt}}>{{opt}}</a>
          {{/menu.item}}
	    </li>
      {{/each}}
    {{/if}}
    {{yield}}
  {{/dd.menu}}
{{/bs-dropdown}}
