<div class="row">
  <div class="col-md-6 col-sm-12">

      <div class="form-group m-2">
        {{textarea value=text cols="80" rows="6" class="form-control" placeholder="Write something here"}}
      </div>
      <div class="form-group m-2">
        {{#if can_commit}}
          <button class="btn btn-success pull-right" {{action this.attrs.post}}>Post Comment</button>
        {{/if}}
      </div>
    </div>

</div>
