{{format-test-name info with_filename=false}}{{#if variation}}<ul class="params"> {{#each-in display_params as |name value|}}

    <li>{{name}}=<code>{{value}}</code></li>
  {{/each-in}}
</ul>{{/if}}
<div class="right-border"></div>
