<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Backslash</a>
    </div>
    {{#if session.user_info.email }}
    <ul class="nav navbar-nav">
        <li>{{#link-to 'sessions'}}Sessions{{/link-to}}</li>
        <li>{{#link-to 'tests'}}Tests{{/link-to}}</li>
    </ul>


      <form class="navbar-form navbar-right" action="">
        <button type="submit" class="btn btn-default" {{action "invalidateSession"}}><img class="img-circle" src="{{gravatar_img_url}}"> Logout</button>

      </form>
    {{/if}}
  </div>


</nav>


{{outlet name="main"}}
