<form class="navbar-form" role="search">
  {{#escape-focus}}
    {{input class="form-control search-bar" id="search-field" placeholder="Search for..." value=entered_search}}
  {{/escape-focus}}
  <div class="input-group">
    <button class="btn btn-default" type="submit" {{action "search"}}><i class="fa fa-search"></i></button>
    <i class="fa fa-spin fa-circle-o-notch {{if searching 'visible'}} searching-spinner"></i>
  </div>

  {{#search-help}}
    {{yield}}

   {{/search-help}}
</form>
