<ul class="activity-timeline">
  {{#each model as |activity|}}
    <li>
      <div class="activity-icon"> <i class="fa fa-archive fa-fw"></i> </div>
      <img src="{{gravatar-url activity.user_email}}" class="img-circle avatar small">
      <strong>{{activity.user_email}}</strong> {{activity.message}} this session on {{moment-time unix=activity.timestamp}}
    </li>
  {{/each}}
</ul>
