& {
    .thumbnail {
        padding:0px;
    }
    .panel {
        position:relative;
    }
    .panel-heading {
        display: flex;
        .controls {
            margin-left: auto;
            color: silver;

            i {
                &:hover {
                    color: black;
                }
                margin-left: 0.5em;
            }
        }
    }

    .panel>.panel-heading:after{
        border-width:7px;
        border-right-color:#f7f7f7;
        margin-top:1px;
        margin-left:2px;
    }
    .panel>.panel-heading:before{
        border-right-color:#ddd;
        border-width:8px;
    }
}
