{{#tool-bar}}{{/tool-bar}}

<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    {{#nav-link to="test.index"}}Overview{{/nav-link}}
    {{#if model.num_errors}}
      {{#nav-link to="test.errors"}}Errors ({{model.num_errors}}){{/nav-link}}
    {{/if}}
    {{#nav-link to="test.comments"}}Comments{{/nav-link}}
    {{#nav-link to="test.activity"}}Activity{{/nav-link}}
  </ul>

  <div class="tabs-details">
    {{outlet}}
  </div>
</div>
