{{#tool-bar}}{{/tool-bar}}

<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    {{#nav-link to="test.index"}}Overview{{/nav-link}}
    {{#if (gt model.num_errors 0)}}
      {{#nav-link to="test.errors"}}Errors ({{model.num_errors}}){{/nav-link}}
    {{/if}}
    {{#if (gt model.num_warnings 0)}}
      {{#nav-link to="test.warnings"}}Warnings <span class="label label-warning label-badge">{{model.num_warnings}}</span>{{/nav-link}}
    {{/if}}
    {{#nav-link to="test.comments"}}Comments{{/nav-link}}
    {{#nav-link to="test.activity"}}Activity{{/nav-link}}
  </ul>

  <div class="tabs-details">
    {{outlet}}
  </div>
</div>
