<div class="container">

  <h1>Session {{model.id}}</h1>

  {{session-breakdown session=model}}




<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">{{#link-to 'session.index'}}Home{{/link-to}}</li><
    <li role="presentation" class="active">{{#link-to 'session.tests'}}Tests{{/link-to}}</li>
  </ul>

{{outlet}}
</div>
