<div class="mt-3">
  {{#each comments as |comment|}}
    {{comment-box comment=comment comment_deleted=(action "refresh")}}
  {{/each}}

  {{new-comment post=(action "post_comment") text=(mut new_comment)}}
</div>
