
.metadata-table {

    tbody tr td:nth-child(1) {
	font-weight: bold;
	width: 250px;
    }
}

.metadata-item {
    margin: 1em;
    background: $gray-lighter;
    padding: 0.5em;
    
    .title {
	background: $gray-lighter;
	color: $gray;
	font-weight: bold;
	margin-bottom: 0.5em;
    }
}