{{outlet}}

<footer class="footer">
  <div class="container text-center">
    <p class="text-muted">
      <a href="http://vmalloc.github.io/weber/" target="_blank">
      <img src="http://vmalloc.github.io/weber/img/hatched-from-weber-badge-light-small.png" style="height: 2em">
      </a>
    </p>
  </div>
</footer>
