<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Backslash</a>
    </div>
    <ul class="nav navbar-nav">
        <li>{{#link-to-animated 'sessions' animations="main:fade"}}Sessions{{/link-to-animated}}</li>
        <li>{{#link-to-animated 'tests' animations="main:fade"}}Tests{{/link-to-animated}}</li>
    </ul>

  </div>
</nav>
{{animated-outlet name="main"}}

