<div class="container">
  <div class="container">
    <div class="alert alert-success">
      <h1>Status Report</h1>
      {{#each feature in features}}
        <p><i {{bind-attr class=":fa feature.ok:fa-check-circle"}}></i> {{feature.name}}</p>
      {{/each}}
    </div>
  </div>
</div>


{{outlet}}
