<div class="container">
  <div class="text-center">
  {{#if model.not_found}}
    <img src="/static/assets/img/backslash-notfound.svg" style="height: 400px"/>
    <div class="error-details">
      <h1>Not found</h1>
      <p>The entity you were trying to reach does not exist.</p>
    </div>
  {{else}}

  <img src="/static/img/backslash-fire.jpg">

  <div class="error-details">
    <h1><span class="error">Oops!</span></h1>
    <h2>Something went horribly wrong. We're terribly sorry.</h2>
    <p>This is probably due to our usage of some cutting-edge, non-compromising web technologies which are too hot to handle. We get this often.</p>
    <p class="additional-details">
      {{#each model.errors as |error|}}
        <p>{{error.title}}</p>
      {{/each}}
    </p>
  </div>
  {{/if}}
  </div>

  {{#if (not model.not_found)}}
    <pre class="small faint">{{model.message}}</pre>
  {{/if}}

</div>


