<div class="pagination-nav">
  {{#if has_prev_page}} <i class="fa fa-chevron-left clickable" {{action "prev_page"}}></i>{{/if}}
  Page {{page}}
  {{#if has_next_page}} <i class="fa fa-chevron-right clickable" {{action "next_page"}}></i>{{/if}}
</div>
