<div class="container">
  <p class="text-center">
    <img src="assets/img/backslash-notfound.svg" style="height: 400px"/>
    <div class="error-details">
      <h1>Not found</h1>
      <p>The page you were trying to reach does not exist.</p>
    </div>
  </p>
</div>
