---
- hosts: webservers
  vars_files:
    - ../flask_app/app.yml
    - vars.yml
  tasks:
    - include: tasks/base_system.yml
    - include: tasks/database.yml
    - include: tasks/virtualenv.yml
    - include: tasks/configuration.yml
    - include: tasks/extra_services.yml
    - name: ensure uwsgi is installed
      shell: $deploy_root/virtualenv/bin/easy_install -U uwsgi creates=$deploy_root/virtualenv/bin/uwsgi
    - name: copy source
      copy: src=../src_pkg.tar dest=$webapp_archive_location
      notify: untar sources
    - name: configure supervisor
      action: template src=templates/supervisor.j2 dest=/etc/supervisor/conf.d/$app_name-wsgi.conf
      notify: reload supervisor
  handlers:
    - include: handlers.yml
