.progress
{
    position: relative;

    margin-bottom: 0;

    &.error
    {
        box-shadow: 0 0 10px 3px $brand-danger;
    }
}


.abandoned-overlay
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .6;
    background: url(/static/assets/img/grunge-overlay.jpg);
}
