<div class="breakdown col-md-2">{{session-breakdown session=session}}</div>
<div class="col-md-10">

  {{start-end-times start_time=session.start_time end_time=session.end_time is_running=session.is_running}}
</div>
