<div class="container">
  <h3>Date format</h3>

  {{multi-toggle value=time_format options=time_formats display=display_time_formats action=(action "choose_option" "time_format") saving=saving}}

</div>
