{{#if loading}}

  {{loading-icon}}

{{else}}

<div class="container">

  <h1>Sign in Required</h1>

  <p>You must be logged in to use Backslash</p>

  <button class="btn btn-danger" {{action "googleLogin"}}><i class="fa fa-google"></i> Sign in with Google</button>

</div>
{{/if}}
