& {
    font-size: 75%;
    tbody {
        tr {
            td {
                &>.copy-btn {
                    visibility: hidden;
                }
                &:hover>.copy-btn {
                    visibility: visible;
                }
            }
        }
    }
}
