{{#tool-bar}}
  <p class="navbar-text">
    {{subject.name}}
  </p>
{{/tool-bar}}

{{hr-separator title="Overview"}}

{{hr-separator title="Sessions"}}

{{query-results results=sessions goto_page=(action "goto_page") update_filter=(action "update_filter")}}
