{{#tool-bar}}
  <p class="navbar-text">
    Subjects / {{subject.name}}
  </p>
{{/tool-bar}}

{{hr-separator title="Overview"}}

{{hr-separator title="Sessions"}}

{{query-results results=sessions goto_page=(action "goto_page")
  page_size=(mut page_size)
  humanize_times=humanize_times
  show_successful=(mut show_successful)
  show_unsuccessful=(mut show_unsuccessful)
  show_abandoned=(mut show_abandoned)
  show_skipped=(mut show_skipped)
}}
