<nav class="navbar navbar-default tool-bar-nav">
  {{#if back_button}}
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-default" {{action "back"}}> <i class="fa fa-arrow-left"></i> Back</button>
    </ul>
  {{/if}}

  {{#if title}}
  <p class="navbar-text">
    {{title}}
  </p>
  {{/if}}

{{yield}}
</nav>
