{{#bs-navbar  as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#if back_button}}
        {{#nav.item}}
          <button type="button" class="btn btn-default" {{action "back"}}> <i class="fa fa-arrow-left"></i> Back</button>
        {{/nav.item}}
      {{/if}}

    {{/navbar.nav}}
    {{yield navbar}}
  {{/navbar.content}}
{{/bs-navbar}}
